<div class="container-fluid">
  <h1>Map Viewer</h1>
  <fieldset>
    <legend>Game Information</legend>
    <div id="dropdown">
      <select id="maps-select" class="form-control">
      </select>
    </div>
  </fieldset>
</div>
<div class="container-fluid">
  <fieldset>
    <legend>Replay</legend>
    <div id="drop-zone">Drop a replay file here</div>
    <div id="replay"><div></div></div>
  </fieldset>
</div>
<div class="container-fluid">
  <fieldset>
    <legend>Canvas</legend>
    <div class="container-fluid" id="cy"></div>
    <div id="loading">
      <span class="fa fa-refresh fa-spin"></span>
    </div>
  </fieldset>
</div>
